<form id="tech-form">
  <h1>Create new Blog</h1>
  <label>Blog Name</label>
  <input type="text" id="blogName">
  <label>Blog Story</label>
  <input type="text" id="blogStory">
  <button type="submit">Submit</button>
</form>

<script src="/js/create.js">

</script>